<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sdp.sudochef" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sudochef.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sudochef.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="sudochef.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sudochef.main.MainActivity" />
        </activity>
        <activity
            android:name="sudochef.parser.ChooseRecipeActivity"
            android:label="@string/title_activity_choose_recipe" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sudochef.search.SearchActivity" />
        </activity>
        <activity
            android:name="sudochef.guide.GuideActivity"
            android:label="@string/title_activity_guide"
            android:parentActivityName="sudochef.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sudochef.main.MainActivity" />
        </activity>
        <activity
            android:name="sudochef.camera.CamActivity"
            android:label="@string/title_activity_cam"
            android:launchMode = "singleTask">
        </activity>
        <activity
            android:name="sudochef.guide.bluetooth.DeviceListActivity"
            android:label="@string/title_activity_device_list" >
        </activity>
        <activity
            android:name="sudochef.guide.bluetooth.SendDataActivity"
            android:label="@string/title_activity_send_data" >
        </activity>
        <activity
            android:name="sudochef.guide.bluetooth.SendDataOven"
            android:label="SendDataOven" >
        </activity>
        <activity
            android:name="sudochef.userInput.CustomActivity"
            android:label="CustomActivity" >
        </activity>
        <activity
            android:name="sudochef.userInput.MultipleChoiceActivity"
            android:label="MultipleChoiceActivity" >
        </activity>
        <activity
            android:name="sudochef.userInput.AmountActivity"
            android:label="AmountActivity" >
        </activity>
        <service android:name="sudochef.guide.voice.voicelib.SpeechActivationService" >
        </service>
    </application>

</manifest>
